* {
    margin: 0;
    padding: 0;
}

body {
    background: rgb(255, 255, 255);
}

#oyun {
    width: 900px;
    height: 300px;
    border: 1px solid rgb(186, 0, 0);
    background: rgb(138, 43, 226);
    margin: 100px auto;
    position: relative;
    overflow: hidden;
}

#trex {
    position: absolute;
    width: 39px;
    height: 42px;
    background-image: url(https://www.hareketligifler.net/data/media/187/dinazor-hareketli-resim-0081.gif);
    background-size: cover;
    bottom: 0;
}

.trex-animate {
    animation: trex 0.5s linear;
}

#kaktus {
    position: absolute;
    width: 55px;
    height: 60px;
    background: url(https://www.hareketligifler.net/data/media/187/dinazor-hareketli-resim-0109.gif);
    bottom: 0;
    background-size: cover;
    left: 835px;
}

.kaktus-animate {
    animation: kaktus 2s linear infinite;
}

@keyframes kaktus {
    0% {
        left: 775px;
    }
    100% {
        left: -100px;
    }
}

@keyframes trex {
    0% {
        bottom: 0px
    }
    25% {
        bottom: 70px
    }
    75% {
        bottom: 70px
    }
    100% {
        bottom: 0px
    }
}